
/* Modal-Criar Task */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-info {
    display: flex;
    width: 425px;
    justify-content: space-between;
    align-items: center;
    color: grey;
    padding: 20px 0 20px 0;
}

.modalH1 {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.close-modal {
    background-color: #313a44;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
    transition: .2s;
}

.close-modal:hover {
    scale: 1.05;
    font-size: 30px;
    background-color: white;
    color: #313a44;
}

.modal-content {
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 20px;
    background-color: #383f47;
    border-radius: 15px;
}

.task-title {
    width: 400px;
    padding: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 15px 15px 0 0;
    background-color: #313a44;
    color: white;
}

.task-desc {
    width: 400px;
    height: 100px;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 0 0 15px 15px;
    background-color: #424b56;
    color: white;
}


.create-task {
    background-color: #313a44;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    font-size: 12px;
    cursor: pointer;
    transition: .2s;
}

.create-task:hover {
    scale: 1.05;
    font-size: 15px;
    background-color: white;
    color: #313a44;
}

.color{
    display: flex;
    gap: 20px;

    padding: 0 0 20px 0;
}

#dark-mode,
#light-mode{
    position: relative;
    opacity: 1;
    cursor: pointer;
}



#dark-mode::before,
#light-mode::before,
#dark-mode::after,
#light-mode::after{
    content: '';
    width: 200%;
    height: 200%;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#dark-mode::before,
#light-mode::before{
    background-color: red;
    filter: blur(.2rem);
    opacity: 0;
}

#dark-mode::after{
    background-color: black;
}

#light-mode::after{
    background-color: white;
}

#light-mode:checked::after,
#light-mode:checked::before,
#dark-mode:checked::after,
#dark-mode:checked::before{
    border: 2px solid red;
    opacity: 1;
}

/* ------------------------------------------------------------------------ */

/* Modal-Checar Task */

.modalTask {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}

.modalDesc {
    width: 400px;
    height: fit-content;
    text-align: start;
    color: white;
    font-size: 15px;
    margin: 0;
    padding-bottom: 20px;
}